In [6]:
def helloPhyton():
    print('welcome in Phyton Language')
helloPhyton()   
helloPhyton()

welcome in Phyton Language
welcome in Phyton Language

In [8]:
def fullName(firstname,lastname):
    print(f"{firstname} {lastname}")
    
fullName("Latifah","Tasliyatunadiyah")

Latifah Tasliyatunadiyah

In [20]:
def getTitleBelakang(title ='S.Kom'):
    return title
def getTitleDepan(title ='HJ'):
    return title
def fullNameWithTitle(firstname,lastname):
    title_depan = getTitleDepan()
    title_belakang = getTitleBelakang()
    print(f"{title_depan}.{firstname} {lastname},{title_belakang}")
    
fullNameWithTitle("Latifah","Tasliyatunadiyah")

HJ.Latifah Tasliyatunadiyah,S.Kom

In [31]:
def maxValue(val_1, val_2, val_3):
    if val_1 >= val_2 and val_1 >= val_3:
        return val_1
    if val_2 >= val_1 and val_2 >= val_3:
        return val_2
    if val_3 >= val_1 and val_3 >= val_2:
        return val_3
maxValue(100,100,5)

100

In [40]:
def countCircleArea(diameter,phi=3.14):
    r = diameter/2
    return phi * r * r
def countSquareArea (sisi):
    return sisi * sisi

sisi =10
diameter = 5
result = countSquareArea(sisi)- countCircleArea(diameter)
print(countSquareArea(sisi))
print(countCircleArea(diameter))
print(result)

100
19.625
80.375

In [43]:
def info(suhu, daerah='Sukabumi', satuan='Celcius'):
    print(f"Suhu sekarang di {daerah} : {suhu} {satuan}")
info (25)
info(100,satuan='Fahrenheit')
info (24, 'Surabaya', 'Fahrenheit')

Suhu sekarang di Sukabumi : 25 Celcius
Suhu sekarang di Sukabumi : 100 Fahrenheit
Suhu sekarang di Surabaya : 24 Fahrenheit

In [50]:
nilai_tugas=[100,80,70,80]

def totalNilai(n_tugas):
    total = 0
    for i in n_tugas:
        total += i
        
    return total 

def maxValue(n_tugas):
    maks = 0
    for i in n_tugas:
        if i > maks:
            maks = i
    return maks

print(totalNilai(nilai_tugas))
print(maxValue(nilai_tugas))

330
100

In [51]:
def faktorial(bil):
    if bil==1:
        return 1
    return bil * faktorial(bil-1)

faktorial (4)

24

In [52]:
nilai_programming = [
    {
        "nama":"Adi",
        "nilai":90
    },
    {
        "nama":"Rudi",
        "nilai":50
    },
    {
        "nama":"Ferdi",
        "nilai":100
    },
    {
        "nama":"Sambo",
        "nilai":40
    },
]
print(nilai_programming)

[{'nama': 'Adi', 'nilai': 90}, {'nama': 'Rudi', 'nilai': 50}, {'nama': 'Ferdi', 'nilai': 100}, {'nama': 'Sambo', 'nilai': 40}]